# set behaviors for the file types we care about
*.cs text diff=csharp
*.csproj text
*.props text
*.targets text
*.md text
*.snk binary

# ensure this can be openen by VS even if copied from unix to windows
*.sln text eol=crlf
